# Scraping with Pandas

In [1]:
import pandas as pd

We can use the `read_html` function in Pandas to automatically scrape any tabular data from a page.

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_capitals_in_the_United_States'

In [3]:
tables = pd.read_html(url)
tables

[             State Abr. State-hood         Capital Capital since Area (mi²)  \
              State Abr. State-hood         Capital Capital since Area (mi²)
 0          Alabama   AL       1819      Montgomery          1846     159.80
 1           Alaska   AK       1959          Juneau          1906    2716.70
 2          Arizona   AZ       1912         Phoenix          1889     517.60
 3         Arkansas   AR       1836     Little Rock          1821     116.20
 4       California   CA       1850      Sacramento          1854      97.90
 5         Colorado   CO       1876          Denver          1867     153.30
 6      Connecticut   CT       1788        Hartford          1875      17.30
 7         Delaware   DE       1787           Dover          1777      22.40
 8          Florida   FL       1845     Tallahassee          1824      95.70
 9          Georgia   GA       1788         Atlanta          1868     133.50
 10          Hawaii   HI       1959        Honolulu          1845      68.40
 11           Idaho   ID       1890           Boise          1865      63.80
 12        Illinois   IL       1818     Springfield          1837      54.00
 13         Indiana   IN       1816    Indianapolis          1825     361.50
 14            Iowa   IA       1846      Des Moines          1857      75.80
 15          Kansas   KS       1861          Topeka          1856      56.00
 16        Kentucky   KY       1792       Frankfort          1792      14.70
 17       Louisiana   LA       1812     Baton Rouge          1880      76.80
 18           Maine   ME       1820         Augusta          1832      55.40
 19        Maryland   MD       1788       Annapolis          1694       6.73
 20   Massachusetts   MA       1788          Boston          1630      89.60
 21        Michigan   MI       1837         Lansing          1847      35.00
 22       Minnesota   MN       1858      Saint Paul          1849      52.80
 23     Mississippi   MS       1817         Jackson          1821     104.90
 24        Missouri   MO       1821  Jefferson City          1826      27.30
 25         Montana   MT       1889          Helena          1875      14.00
 26        Nebraska   NE       1867         Lincoln          1867      74.60
 27          Nevada   NV       1864     Carson City          1861     143.40
 28   New Hampshire   NH       1788         Concord          1808      64.30
 29      New Jersey   NJ       1787         Trenton          1784       7.66
 30      New Mexico   NM       1912        Santa Fe          1610      37.30
 31        New York   NY       1788          Albany          1797      21.40
 32  North Carolina   NC       1789         Raleigh          1792     114.60
 33    North Dakota   ND       1889        Bismarck          1883      26.90
 34            Ohio   OH       1803        Columbus          1816     210.30
 35        Oklahoma   OK       1907   Oklahoma City          1910     620.30
 36          Oregon   OR       1859           Salem          1855      45.70
 37    Pennsylvania   PA       1787      Harrisburg          1812       8.11
 38    Rhode Island   RI       1790      Providence          1900      18.50
 39  South Carolina   SC       1788        Columbia          1786     125.20
 40    South Dakota   SD       1889          Pierre          1889      13.00
 41       Tennessee   TN       1796       Nashville          1826     525.90
 42           Texas   TX       1845          Austin          1839     305.10
 43            Utah   UT       1896  Salt Lake City          1858     109.10
 44         Vermont   VT       1791      Montpelier          1805      10.20
 45        Virginia   VA       1788        Richmond          1780      60.10
 46      Washington   WA       1889         Olympia          1853      16.70
 47   West Virginia   WV       1863      Charleston          1885      31.60
 48       Wisconsin   WI       1848         Madison          1838      68.70
 49         Wyoming   WY       1890        Cheyenne          1869      21.10

                            Population (2010)  \
    Municipal (Within city proper boundaries)
 0                                     198218
 1                                      31275
 2                                    1660272
 3                                     193524
 4                                     508529
 5                                     716492
 6                                     124775
 7                                      36047
 8                                     181376
 9                                     498044
 10                                    359870
 11                                    205671
 12                                    116250
 13                                    867125
 14                                    203433
 15                                    127473
 16                                     25527
 17                                    225374
 18                                     19136
 19                                     38394
 20                                    694583
 21                                    114297
 22                                    285068
 23                                    173514
 24                                     43079
 25                                     28190
 26                                    258379
 27                                     55274
 28                                     42695
 29                                     84913
 30                                     75764
 31                                     97856
 32                                    403892
 33                                     61272
 34                                    892553
 35                                    649021
 36                                    154637
 37                                     49528
 38                                    178042
 39                                    129272
 40                                     13646
 41                                    691243
 42                                    964254
 43                                    186440
 44                                      7855
 45                                    204214
 46                                     46478
 47                                     51400
 48                                    233209
 49                                     59466

                                                                                                    \
    Metropolitan (Both within the capital city proper and the surrounding area of the city proper)
 0                                            373903.0
 1                                                 NaN
 2                                           4857962.0
 3                                            699757.0
 4                                           2345210.0
 5                                           2932415.0
 6                                           1212381.0
 7                                            162310.0
 8                                            367413.0
 9                                           5949951.0
 10                                           953207.0
 11                                           616561.0
 12                                           210170.0
 13                                          2004230.0
 14                                           569633.0
 15                                           230870.0
 16                                            70758.0
 17                                           830480.0
 18                                           117114.0
 19                                                NaN
 20                                          4628910.0
 21                                           464036.0
 22                                          3348659.0
 23                                           567122.0
 24                                           149807.0
 25                                            74801.0
 26                                           302157.0
 27                                                NaN
 28                                           146445.0
 29                                           366513.0
 30                                           183732.0
 31                                           857592.0
 32                                          1130490.0
 33                                           108779.0
 34                                          2078725.0
 35                                          1396445.0
 36                                           390738.0
 37                                           647390.0
 38                                          1600852.0
 39                                           767598.0
 40                                                NaN
 41                                          1903045.0
 42                                          2168316.0
 43                                          1087873.0
 44                                                NaN
 45                                          1208101.0
 46                                           234670.0
 47                                           304214.0
 48                                           605435.0
 49                                            91738.0

                                                                          Notes
    Rank in state Rank in US                                              Notes
 0              2      119.0            Birmingham is the state's largest city.
 1              3        NaN            Largest capital by municipal land area.
 2              1        5.0  Phoenix is the most populous capital city in t...
 3              1      117.0                                                NaN
 4              6       35.0                                                NaN
 5              1       19.0                                                NaN
 6              3      199.0                                                NaN
 7              2        NaN     Longest-serving capital in terms of statehood.
 8              7      125.0                                                NaN
 9              1       37.0     Most populous metro area of any state capital.
 10             1       56.0                                                NaN
 11             1      103.0                                                NaN
 12             6      221.0                                                NaN
 13             1       16.0                                                NaN
 14             1      105.0                                                NaN
 15             4      193.0                                                NaN
 16            14        NaN                                                NaN
 17             2       99.0  Baton Rouge is located in the state's most pop...
 18             8        NaN                    Portland is a previous capital.
 19             7        NaN  Smallest capital by land area. Capitol buildin...
 20             1       21.0   Longest continuously serving capital in the U.S.
 21             5      226.0  Only state capital that is not also its county...
 22             2       67.0                                                NaN
 23             1      134.0                                                NaN
 24            15        NaN                                                NaN
 25             6        NaN                                                NaN
 26             2       72.0                                                NaN
 27             6        NaN  One of two independent cities that serves as a...
 28             3        NaN                                                NaN
 29            10        NaN  Served as the U.S. capital for a short period ...
 30             4        NaN  Longest serving capital in the United States. ...
 31             6        NaN                                                NaN
 32             2       43.0                                                NaN
 33             2        NaN                                                NaN
 34             1       14.0  Columbus is the largest city in Ohio, the seco...
 35             1       27.0            Shortest serving current state capital.
 36             3      149.0                                                NaN
 37             9        NaN                                                NaN
 38             1      130.0  Also served as the state's capital 1636–1686 a...
 39             2      191.0                                                NaN
 40             8        NaN                                                NaN
 41             1       24.0                                                NaN
 42             4       11.0  Austin is the largest state capital that is no...
 43             1      124.0                                                NaN
 44             6        NaN                 Least populous U.S. state capital.
 45             4      104.0  Richmond is one of two independent cities that...
 46            24        NaN                                                NaN
 47             1        NaN  Charleston is the smallest capital city that i...
 48             2       82.0                                                NaN
 49             1        NaN                                                NaN  ,
                Insular area Abr.  Date           Capital  Population (2010)  \
 0            American Samoa   AS  1899         Pago Pago               3656
 1                      Guam   GU  1898           Hagåtña               1051
 2  Northern Mariana Islands   MP  1947            Saipan              48220
 3               Puerto Rico   PR  1898          San Juan             395326
 4       U.S. Virgin Islands   VI  1917  Charlotte Amalie              18481

                                                Notes
 0  Pago Pago refers to both a village and a group...
 1              Dededo is the area's largest village.
 2                                                NaN
 3  The city of San Juan was originally called Pue...
 4                                                NaN  ,
                                State                                  Capital  \
 0       Alabama[16]Statehood in 1819                              San Agustín
 1       Alabama[16]Statehood in 1819                                 Savannah
 2       Alabama[16]Statehood in 1819                                 Savannah
 3       Alabama[16]Statehood in 1819                                 Savannah
 4       Alabama[16]Statehood in 1819                             Augusta (GA)
 5       Alabama[16]Statehood in 1819                        Heard's Fort (GA)
 6       Alabama[16]Statehood in 1819                             Augusta (GA)
 7       Alabama[16]Statehood in 1819                            Savannah (GA)
 8       Alabama[16]Statehood in 1819                            Ebenezer (GA)
 9       Alabama[16]Statehood in 1819                            Savannah (GA)
 10      Alabama[16]Statehood in 1819                             Augusta (GA)
 11      Alabama[16]Statehood in 1819                          Louisville (GA)
 12      Alabama[16]Statehood in 1819                             Natchez (MS)
 13      Alabama[16]Statehood in 1819                          Washington (MS)
 14      Alabama[16]Statehood in 1819                             St. Stephens
 15      Alabama[16]Statehood in 1819                               Huntsville
 16      Alabama[16]Statehood in 1819                                  Cahawba
 17      Alabama[16]Statehood in 1819                               Tuscaloosa
 18      Alabama[16]Statehood in 1819                               Montgomery
 19       Alaska[18]Statehood in 1959                    Novo-ArkhangelskSitka
 20       Alaska[18]Statehood in 1959                    Novo-ArkhangelskSitka
 21       Alaska[18]Statehood in 1959                    Novo-ArkhangelskSitka
 22       Alaska[18]Statehood in 1959                                   Juneau
 23       Alaska[18]Statehood in 1959                                   Juneau
 24       Alaska[18]Statehood in 1959                                   Juneau
 25      Arizona[19]Statehood in 1912                            Santa Fe (NM)
 26      Arizona[19]Statehood in 1912                            Santa Fe (NM)
 27      Arizona[19]Statehood in 1912                             Mesilla (NM)
 28      Arizona[19]Statehood in 1912                         San Antonio (TX)
 29      Arizona[19]Statehood in 1912                             Fort Whipple
 ..                               ...                                      ...
 444    Virginia[48]Statehood in 1776            Middle PlantationWilliamsburg
 445    Virginia[48]Statehood in 1776                                 Richmond
 446  Washington[49]Statehood in 1889                            Champoeg (OR)
 447  Washington[49]Statehood in 1889                         Oregon City (OR)
 448  Washington[49]Statehood in 1889                         Oregon City (OR)
 449  Washington[49]Statehood in 1889                               Salem (OR)
 450  Washington[49]Statehood in 1889                                  Olympia
 451  Washington[49]Statehood in 1889                                  Olympia
 452   West VirginiaStatehood in 1863                           Jamestown (VA)
 453   West VirginiaStatehood in 1863  Middle Plantation (VA)Williamsburg (VA)
 454   West VirginiaStatehood in 1863  Middle Plantation (VA)Williamsburg (VA)
 455   West VirginiaStatehood in 1863  Middle Plantation (VA)Williamsburg (VA)
 456   West VirginiaStatehood in 1863                            Richmond (VA)
 457   West VirginiaStatehood in 1863                                 Wheeling
 458   West VirginiaStatehood in 1863                                 Wheeling
 459   West VirginiaStatehood in 1863                               Charleston
 460   West VirginiaStatehood in 1863                                 Wheeling
 461   West VirginiaStatehood in 1863                               Charleston
 462   Wisconsin[50]Statehood in 1848                            Marietta (OH)
 463   Wisconsin[50]Statehood in 1848                           Vincennes (IN)
 464   Wisconsin[50]Statehood in 1848                           Kaskaskia (IL)
 465   Wisconsin[50]Statehood in 1848                             Detroit (MI)
 466   Wisconsin[50]Statehood in 1848                                  Belmont
 467   Wisconsin[50]Statehood in 1848                          Burlington (IA)
 468   Wisconsin[50]Statehood in 1848                                  Madison
 469   Wisconsin[50]Statehood in 1848                                  Madison
 470     Wyoming[51]Statehood in 1890                            Lewiston (ID)
 471     Wyoming[51]Statehood in 1890                             Yankton (SD)
 472     Wyoming[51]Statehood in 1890                                 Cheyenne
 473     Wyoming[51]Statehood in 1890                                 Cheyenne

      Date                                              Notes
 0    1565   Capital of the Spanish colony of La Florida.[17]
 1    1733  Capital of the British proprietary Colony of G...
 2    1755        Capital of the British Province of Georgia.
 3    1776                  Capitals of the State of Georgia.
 4    1778                  Capitals of the State of Georgia.
 5    1780                  Capitals of the State of Georgia.
 6    1781                  Capitals of the State of Georgia.
 7    1782                  Capitals of the State of Georgia.
 8    1782                  Capitals of the State of Georgia.
 9    1784                  Capitals of the State of Georgia.
 10   1786                  Capitals of the State of Georgia.

What we get in return is a list of dataframes for any tabular data that Pandas found.

In [4]:
type(tables)

list

We can slice off any of those dataframes that we want using normal indexing.

In [5]:
df = tables[0]
df.columns = ['State', 'Abr.', 'State-hood Rank', 'Capital', 
              'Capital Since', 'Area (sq-mi)', 'Municipal Population', 'Metropolitan', 
              'Metropolitan Population', 'Population Rank', 'Notes']
df.head()

,State,Abr.,State-hood Rank,Capital,Capital Since,Area (sq-mi),Municipal Population,Metropolitan,Metropolitan Population,Population Rank,Notes
0,Alabama,AL,1819,Montgomery,1846,159.8,198218,373903.0,2,119.0,Birmingham is the state's largest city.
1,Alaska,AK,1959,Juneau,1906,2716.7,31275,NaN,3,NaN,Largest capital by municipal land area.
2,Arizona,AZ,1912,Phoenix,1889,517.6,1660272,4857962.0,1,5.0,Phoenix is the most populous capital city in t...
3,Arkansas,AR,1836,Little Rock,1821,116.2,193524,699757.0,1,117.0,NaN
4,California,CA,1850,Sacramento,1854,97.9,508529,2345210.0,6,35.0,NaN

Cleanup of extra rows

In [6]:
df = df.iloc[2:]
df.head()

,State,Abr.,State-hood Rank,Capital,Capital Since,Area (sq-mi),Municipal Population,Metropolitan,Metropolitan Population,Population Rank,Notes
2,Arizona,AZ,1912,Phoenix,1889,517.6,1660272,4857962.0,1,5.0,Phoenix is the most populous capital city in t...
3,Arkansas,AR,1836,Little Rock,1821,116.2,193524,699757.0,1,117.0,NaN
4,California,CA,1850,Sacramento,1854,97.9,508529,2345210.0,6,35.0,NaN
5,Colorado,CO,1876,Denver,1867,153.3,716492,2932415.0,1,19.0,NaN
6,Connecticut,CT,1788,Hartford,1875,17.3,124775,1212381.0,3,199.0,NaN

Set the index to the `State` column

In [7]:
df.set_index('State', inplace=True)
df.head()

,Abr.,State-hood Rank,Capital,Capital Since,Area (sq-mi),Municipal Population,Metropolitan,Metropolitan Population,Population Rank,Notes
State,,,,,,,,,,
Arizona,AZ,1912,Phoenix,1889,517.6,1660272,4857962.0,1,5.0,Phoenix is the most populous capital city in t...
Arkansas,AR,1836,Little Rock,1821,116.2,193524,699757.0,1,117.0,NaN
California,CA,1850,Sacramento,1854,97.9,508529,2345210.0,6,35.0,NaN
Colorado,CO,1876,Denver,1867,153.3,716492,2932415.0,1,19.0,NaN
Connecticut,CT,1788,Hartford,1875,17.3,124775,1212381.0,3,199.0,NaN

In [9]:
df.loc['Arizona']

Abr.                                                                      AZ
State-hood Rank                                                         1912
Capital                                                              Phoenix
Capital Since                                                           1889
Area (sq-mi)                                                           517.6
Municipal Population                                                 1660272
Metropolitan                                                     4.85796e+06
Metropolitan Population                                                    1
Population Rank                                                            5
Notes                      Phoenix is the most populous capital city in t...
Name: Arizona, dtype: object

## DataFrames as HTML

Pandas also had a `to_html` method that we can use to generate HTML tables from DataFrames.

In [10]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Abr.</th>\n      <th>State-hood Rank</th>\n      <th>Capital</th>\n      <th>Capital Since</th>\n      <th>Area (sq-mi)</th>\n      <th>Municipal Population</th>\n      <th>Metropolitan</th>\n      <th>Metropolitan Population</th>\n      <th>Population Rank</th>\n      <th>Notes</th>\n    </tr>\n    <tr>\n      <th>State</th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Arizona</th>\n      <td>AZ</td>\n      <td>1912</td>\n      <td>Phoenix</td>\n      <td>1889</td>\n      <td>517.60</td>\n      <td>1660272</td>\n      <td>4857962.0</td>\n      <td>1</td>\n      <td>5.0</td>\n      <td>Phoenix is the most populous capital city in t...</td>\n    </tr>\n    <tr>\n      <th>Arkansas</th>\n      <td>AR</td>\n      <td>1836</td>\n      <td>Little Rock</td>\n      <td>1821</td>\n      <td>116.20</td>\n      <td>193524</td>\n      <td>699757.0</td>\n      <td>1</td>\n      <td>117.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>California</th>\n      <td>CA</td>\n      <td>1850</td>\n      <td>Sacramento</td>\n      <td>1854</td>\n      <td>97.90</td>\n      <td>508529</td>\n      <td>2345210.0</td>\n      <td>6</td>\n      <td>35.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Colorado</th>\n      <td>CO</td>\n      <td>1876</td>\n      <td>Denver</td>\n      <td>1867</td>\n      <td>153.30</td>\n      <td>716492</td>\n      <td>2932415.0</td>\n      <td>1</td>\n      <td>19.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Connecticut</th>\n      <td>CT</td>\n      <td>1788</td>\n      <td>Hartford</td>\n      <td>1875</td>\n      <td>17.30</td>\n      <td>124775</td>\n      <td>1212381.0</td>\n      <td>3</td>\n      <td>199.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Delaware</th>\n      <td>DE</td>\n      <td>1787</td>\n      <td>Dover</td>\n      <td>1777</td>\n      <td>22.40</td>\n      <td>36047</td>\n      <td>162310.0</td>\n      <td>2</td>\n      <td>NaN</td>\n      <td>Longest-serving capital in terms of statehood.</td>\n    </tr>\n    <tr>\n      <th>Florida</th>\n      <td>FL</td>\n      <td>1845</td>\n      <td>Tallahassee</td>\n      <td>1824</td>\n      <td>95.70</td>\n      <td>181376</td>\n      <td>367413.0</td>\n      <td>7</td>\n      <td>125.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Georgia</th>\n      <td>GA</td>\n      <td>1788</td>\n      <td>Atlanta</td>\n      <td>1868</td>\n      <td>133.50</td>\n      <td>498044</td>\n      <td>5949951.0</td>\n      <td>1</td>\n      <td>37.0</td>\n      <td>Most populous metro area of any state capital.</td>\n    </tr>\n    <tr>\n      <th>Hawaii</th>\n      <td>HI</td>\n      <td>1959</td>\n      <td>Honolulu</td>\n      <td>1845</td>\n      <td>68.40</td>\n      <td>359870</td>\n      <td>953207.0</td>\n      <td>1</td>\n      <td>56.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Idaho</th>\n      <td>ID</td>\n      <td>1890</td>\n      <td>Boise</td>\n      <td>1865</td>\n      <td>63.80</td>\n      <td>205671</td>\n      <td>616561.0</td>\n      <td>1</td>\n      <td>103.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Illinois</th>\n      <td>IL</td>\n      <td>1818</td>\n      <td>Springfield</td>\n      <td>1837</td>\n      <td>54.00</td>\n      <td>116250</td>\n      <td>210170.0</td>\n      <td>6</td>\n      <td>221.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Indiana</th>\n      <td>IN</td>\n      <td>1816</td>\n      <td>Indianapolis</td>\n      <td>1825</td>\n      <td>361.50</td>\n      <td>867125</td>\n      <td>2004230.0</td>\n      <td>1</td>\n      <td>16.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Iowa</th>\n      <td>IA</td>\n      <td>1846</td>\n      <td>Des Moines</td>\n      <td>1857</td>\n      <td>75.80</td>\n      <td>203433</td>\n      <td>569633.0</td>\n      <td>1</td>\n      <td>105.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Kansas</th>\n      <td>KS</td>\n      <td>1861</td>\n      <td>Topeka</td>\n      <td>1856</td>\n      <td>56.00</td>\n      <td>127473</td>\n      <td>230870.0</td>\n      <td>4</td>\n      <td>193.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Kentucky</th>\n      <td>KY</td>\n      <td>1792</td>\n      <td>Frankfort</td>\n      <td>1792</td>\n      <td>14.70</td>\n      <td>25527</td>\n      <td>70758.0</td>\n      <td>14</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Louisiana</th>\n      <td>LA</td>\n      <td>1812</td>\n      <td>Baton Rouge</td>\n      <td>1880</td>\n      <td>76.80</td>\n      <td>225374</td>\n      <td>830480.0</td>\n      <td>2</td>\n      <td>99.0</td>\n      <td>Baton Rouge is located in the state\'s most pop...</td>\n    </tr>\n    <tr>\n      <th>Maine</th>\n      <td>ME</td>\n      <td>1820</td>\n      <td>Augusta</td>\n      <td>1832</td>\n      <td>55.40</td>\n      <td>19136</td>\n      <td>117114.0</td>\n      <td>8</td>\n      <td>NaN</td>\n      <td>Portland is a previous capital.</td>\n    </tr>\n    <tr>\n      <th>Maryland</th>\n      <td>MD</td>\n      <td>1788</td>\n      <td>Annapolis</td>\n      <td>1694</td>\n      <td>6.73</td>\n      <td>38394</td>\n      <td>NaN</td>\n      <td>7</td>\n      <td>NaN</td>\n      <td>Smallest capital by land area. Capitol buildin...</td>\n    </tr>\n    <tr>\n      <th>Massachusetts</th>\n      <td>MA</td>\n      <td>1788</td>\n      <td>Boston</td>\n      <td>1630</td>\n      <td>89.60</td>\n      <td>694583</td>\n      <td>4628910.0</td>\n      <td>1</td>\n      <td>21.0</td>\n      <td>Longest continuously serving capital in the U.S.</td>\n    </tr>\n    <tr>\n      <th>Michigan</th>\n      <td>MI</td>\n      <td>1837</td>\n      <td>Lansing</td>\n      <td>1847</td>\n      <td>35.00</td>\n      <td>114297</td>\n      <td>464036.0</td>\n      <td>5</td>\n      <td>226.0</td>\n      <td>Only state capital that is not also its county...</td>\n    </tr>\n    <tr>\n      <th>Minnesota</th>\n      <td>MN</td>\n      <td>1858</td>\n      <td>Saint Paul</td>\n      <td>1849</td>\n      <td>52.80</td>\n      <td>285068</td>\n      <td>3348659.0</td>\n      <td>2</td>\n      <td>67.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Mississippi</th>\n      <td>MS</td>\n      <td>1817</td>\n      <td>Jackson</td>\n      <td>1821</td>\n      <td>104.90</td>\n      <td>173514</td>\n      <td>567122.0</td>\n      <td>1</td>\n      <td>134.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Missouri</th>\n      <td>MO</td>\n      <td>1821</td>\n      <td>Jefferson City</td>\n      <td>1826</td>\n      <td>27.30</td>\n      <td>43079</td>\n      <td>149807.0</td>\n      <td>15</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Montana</th>\n      <td>MT</td>\n      <td>1889</td>\n      <td>Helena</td>\n      <td>1875</td>\n      <td>14.00</td>\n      <td>28190</td>\n      <td>74801.0</td>\n      <td>6</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Nebraska</th>\n      <td>NE</td>\n      <td>1867</td>\n      <td>Lincoln</td>\n      <td>1867</td>\n      <td>74.60</td>\n      <td>258379</td>\n      <td>302157.0</td>\n      <td>2</td>\n      <td>72.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Nevada</th>\n      <td>NV</td>\n      <td>1864</td>\n      <td>Carson City</td>\n      <td>1861</td>\n      <td>143.40</td>\n      <td>55274</td>\n      <td>NaN</td>\n      <td>6</td>\n      <td>NaN</td>\n      <td>One of two independent cities that serves as a...</td>\n    </tr>\n    <tr>\n      <th>New Hampshire</th>\n      <td>NH</td>\n      <td>1788</td>\n      <td>Concord</td>\n      <td>1808</td>\n      <td>64.30</td>\n      <td>42695</td>\n      <td>146445.0</td>\n      <td>3</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>New Jersey</th>\n      <td>NJ</td>\n      <td>1787</td>\n      <td>Trenton</td>\n      <td>1784</td>\n      <td>7.66</td>\n      <td>84913</td>\n      <td>366513.0</td>\n      <td>10</td>\n      <td>NaN</td>\n      <td>Served as the U.S. capital for a short period ...</td>\n    </tr>\n    <tr>\n      <th>New Mexico</th>\n      <td>NM</td>\n      <td>1912</td>\n      <td>Santa Fe</td>\n      <td>1610</td>\n      <td>37.30</td>\n      <td>75764</td>\n      <td>183732.0</td>\n      <td>4</td>\n      <td>NaN</td>\n      <td>Longest serving capital in the United States. ...</td>\n    </tr>\n    <tr>\n      <th>New York</th>\n      <td>NY</td>\n      <td>1788</td>\n      <td>Albany</td>\n      <td>1797</td>\n      <td>21.40</td>\n      <td>97856</td>\n      <td>857592.0</td>\n      <td>6</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>North Carolina</th>\n      <td>NC</td>\n      <td>1789</td>\n      <td>Raleigh</td>\n      <td>1792</td>\n      <td>114.60</td>\n      <td>403892</td>\n      <td>1130490.0</td>\n      <td>2</td>\n      <td>43.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>North Dakota</th>\n      <td>ND</td>\n      <td>1889</td>\n      <td>Bismarck</td>\n      <td>1883</td>\n      <td>26.90</td>\n      <td>61272</td>\n      <td>108779.0</td>\n      <td>2</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Ohio</th>\n      <td>OH</td>\n      <td>1803</td>\n      <td>Columbus</td>\n      <td>1816</td>\n      <td>210.30</td>\n      <td>892553</td>\n      <td>2078725.0</td>\n      <td>1</td>\n      <td>14.0</td>\n      <td>Columbus is the largest city in Ohio, the seco...</td>\n    </tr>\n    <tr>\n      <th>Oklahoma</th>\n      <td>OK</td>\n      <td>1907</td>\n      <td>Oklahoma City</td>\n      <td>1910</td>\n      <td>620.30</td>\n      <td>649021</td>\n      <td>1396445.0</td>\n      <td>1</td>\n      <td>27.0</td>\n      <td>Shortest serving current state capital.</td>\n    </tr>\n    <tr>\n      <th>Oregon</th>\n      <td>OR</td>\n      <td>1859</td>\n      <td>Salem</td>\n      <td>1855</td>\n      <td>45.70</td>\n      <td>154637</td>\n      <td>390738.0</td>\n      <td>3</td>\n      <td>149.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Pennsylvania</th>\n      <td>PA</td>\n      <td>1787</td>\n      <td>Harrisburg</td>\n      <td>1812</td>\n      <td>8.11</td>\n      <td>49528</td>\n      <td>647390.0</td>\n      <td>9</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Rhode Island</th>\n      <td>RI</td>\n      <td>1790</td>\n      <td>Providence</td>\n      <td>1900</td>\n      <td>18.50</td>\n      <td>178042</td>\n      <td>1600852.0</td>\n      <td>1</td>\n      <td>130.0</td>\n      <td>Also served as the state\'s capital 1636–1686 a...</td>\n    </tr>\n    <tr>\n      <th>South Carolina</th>\n      <td>SC</td>\n      <td>1788</td>\n      <td>Columbia</td>\n      <td>1786</td>\n      <td>125.20</td>\n      <td>129272</td>\n      <td>767598.0</td>\n      <td>2</td>\n      <td>191.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>South Dakota</th>\n      <td>SD</td>\n      <td>1889</td>\n      <td>Pierre</td>\n      <td>1889</td>\n      <td>13.00</td>\n      <td>13646</td>\n      <td>NaN</td>\n      <td>8</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Tennessee</th>\n      <td>TN</td>\n      <td>1796</td>\n      <td>Nashville</td>\n      <td>1826</td>\n      <td>525.90</td>\n      <td>691243</td>\n      <td>1903045.0</td>\n      <td>1</td>\n      <td>24.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Texas</th>\n      <td>TX</td>\n      <td>1845</td>\n      <td>Austin</td>\n      <td>1839</td>\n      <td>305.10</td>\n      <td>964254</td>\n      <td>2168316.0</td>\n      <td>4</td>\n      <td>11.0</td>\n      <td>Austin is the largest state capital that is no...</td>\n    </tr>\n    <tr>\n      <th>Utah</th>\n      <td>UT</td>\n      <td>1896</td>\n      <td>Salt Lake City</td>\n      <td>1858</td>\n      <td>109.10</td>\n      <td>186440</td>\n      <td>1087873.0</td>\n      <td>1</td>\n      <td>124.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Vermont</th>\n      <td>VT</td>\n      <td>1791</td>\n      <td>Montpelier</td>\n      <td>1805</td>\n      <td>10.20</td>\n      <td>7855</td>\n      <td>NaN</td>\n      <td>6</td>\n      <td>NaN</td>\n      <td>Least populous U.S. state capital.</td>\n    </tr>\n    <tr>\n      <th>Virginia</th>\n      <td>VA</td>\n      <td>1788</td>\n      <td>Richmond</td>\n      <td>1780</td>\n      <td>60.10</td>\n      <td>204214</td>\n      <td>1208101.0</td>\n      <td>4</td>\n      <td>104.0</td>\n      <td>Richmond is one of two independent cities that...</td>\n    </tr>\n    <tr>\n      <th>Washington</th>\n      <td>WA</td>\n      <td>1889</td>\n      <td>Olympia</td>\n      <td>1853</td>\n      <td>16.70</td>\n      <td>46478</td>\n      <td>234670.0</td>\n      <td>24</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>West Virginia</th>\n      <td>WV</td>\n      <td>1863</td>\n      <td>Charleston</td>\n      <td>1885</td>\n      <td>31.60</td>\n      <td>51400</td>\n      <td>304214.0</td>\n      <td>1</td>\n      <td>NaN</td>\n      <td>Charleston is the smallest capital city that i...</td>\n    </tr>\n    <tr>\n      <th>Wisconsin</th>\n      <td>WI</td>\n      <td>1848</td>\n      <td>Madison</td>\n      <td>1838</td>\n      <td>68.70</td>\n      <td>233209</td>\n      <td>605435.0</td>\n      <td>2</td>\n      <td>82.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Wyoming</th>\n      <td>WY</td>\n      <td>1890</td>\n      <td>Cheyenne</td>\n      <td>1869</td>\n      <td>21.10</td>\n      <td>59466</td>\n      <td>91738.0</td>\n      <td>1</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n  </tbody>\n</table>'

You may have to strip unwanted newlines to clean up the table.

In [11]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Abr.</th>      <th>State-hood Rank</th>      <th>Capital</th>      <th>Capital Since</th>      <th>Area (sq-mi)</th>      <th>Municipal Population</th>      <th>Metropolitan</th>      <th>Metropolitan Population</th>      <th>Population Rank</th>      <th>Notes</th>    </tr>    <tr>      <th>State</th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Arizona</th>      <td>AZ</td>      <td>1912</td>      <td>Phoenix</td>      <td>1889</td>      <td>517.60</td>      <td>1660272</td>      <td>4857962.0</td>      <td>1</td>      <td>5.0</td>      <td>Phoenix is the most populous capital city in t...</td>    </tr>    <tr>      <th>Arkansas</th>      <td>AR</td>      <td>1836</td>      <td>Little Rock</td>      <td>1821</td>      <td>116.20</td>      <td>193524</td>      <td>699757.0</td>      <td>1</td>      <td>117.0</td>      <td>NaN</td>    </tr>    <tr>      <th>California</th>      <td>CA</td>      <td>1850</td>      <td>Sacramento</td>      <td>1854</td>      <td>97.90</td>      <td>508529</td>      <td>2345210.0</td>      <td>6</td>      <td>35.0</td>      <td>NaN</td>    </tr>    <tr>      <th>Colorado</th>      <td>CO</td>      <td>1876</td>      <td>Denver</td>      <td>1867</td>      <td>153.30</td>      <td>716492</td>      <td>2932415.0</td>      <td>1</td>      <td>19.0</td>      <td>NaN</td>    </tr>    <tr>      <th>Connecticut</th>      <td>CT</td>      <td>1788</td>      <td>Hartford</td>      <td>1875</td>      <td>17.30</td>      <td>124775</td>      <td>1212381.0</td>      <td>3</td>      <td>199.0</td>      <td>NaN</td>    </tr>    <tr>      <th>Delaware</th>      <td>DE</td>      <td>1787</td>      <td>Dover</td>      <td>1777</td>      <td>22.40</td>      <td>36047</td>      <td>162310.0</td>      <td>2</td>      <td>NaN</td>      <td>Longest-serving capital in terms of statehood.</td>    </tr>    <tr>      <th>Florida</th>      <td>FL</td>      <td>1845</td>      <td>Tallahassee</td>      <td>1824</td>      <td>95.70</td>      <td>181376</td>      <td>367413.0</td>      <td>7</td>      <td>125.0</td>      <td>NaN</td>    </tr>    <tr>      <th>Georgia</th>      <td>GA</td>      <td>1788</td>      <td>Atlanta</td>      <td>1868</td>      <td>133.50</td>      <td>498044</td>      <td>5949951.0</td>      <td>1</td>      <td>37.0</td>      <td>Most populous metro area of any state capital.</td>    </tr>    <tr>      <th>Hawaii</th>      <td>HI</td>      <td>1959</td>      <td>Honolulu</td>      <td>1845</td>      <td>68.40</td>      <td>359870</td>      <td>953207.0</td>      <td>1</td>      <td>56.0</td>      <td>NaN</td>    </tr>    <tr>      <th>Idaho</th>      <td>ID</td>      <td>1890</td>      <td>Boise</td>      <td>1865</td>      <td>63.80</td>      <td>205671</td>      <td>616561.0</td>      <td>1</td>      <td>103.0</td>      <td>NaN</td>    </tr>    <tr>      <th>Illinois</th>      <td>IL</td>      <td>1818</td>      <td>Springfield</td>      <td>1837</td>      <td>54.00</td>      <td>116250</td>      <td>210170.0</td>      <td>6</td>      <td>221.0</td>      <td>NaN</td>    </tr>    <tr>      <th>Indiana</th>      <td>IN</td>      <td>1816</td>      <td>Indianapolis</td>      <td>1825</td>      <td>361.50</td>      <td>867125</td>      <td>2004230.0</td>      <td>1</td>      <td>16.0</td>      <td>NaN</td>    </tr>    <tr>      <th>Iowa</th>      <td>IA</td>      <td>1846</td>      <td>Des Moines</td>      <td>1857</td>      <td>75.80</td>      <td>203433</td>      <td>569633.0</td>      <td>1</td>      <td>105.0</td>      <td>NaN</td>    </tr>    <tr>      <th>Kansas</th>      <td>KS</td>      <td>1861</td>      <td>Topeka</td>      <td>1856</td>      <td>56.00</td>      <td>127473</td>      <td>230870.0</td>      <td>4</td>      <td>193.0</td>      <td>NaN</td>    </tr>    <tr>      <th>Kentucky</th>      <td>KY</td>      <td>1792</td>      <td>Frankfort</td>      <td>1792</td>      <td>14.70</td>      <td>25527</td>      <td>70758.0</td>      <td>14</td>      <td>NaN</td>      <td>NaN</td>    </tr>    <tr>      <th>Louisiana</th>      <td>LA</td>      <td>1812</td>      <td>Baton Rouge</td>      <td>1880</td>      <td>76.80</td>      <td>225374</td>      <td>830480.0</td>      <td>2</td>      <td>99.0</td>      <td>Baton Rouge is located in the state\'s most pop...</td>    </tr>    <tr>      <th>Maine</th>      <td>ME</td>      <td>1820</td>      <td>Augusta</td>      <td>1832</td>      <td>55.40</td>      <td>19136</td>      <td>117114.0</td>      <td>8</td>      <td>NaN</td>      <td>Portland is a previous capital.</td>    </tr>    <tr>      <th>Maryland</th>      <td>MD</td>      <td>1788</td>      <td>Annapolis</td>      <td>1694</td>      <td>6.73</td>      <td>38394</td>      <td>NaN</td>      <td>7</td>      <td>NaN</td>      <td>Smallest capital by land area. Capitol buildin...</td>    </tr>    <tr>      <th>Massachusetts</th>      <td>MA</td>      <td>1788</td>      <td>Boston</td>      <td>1630</td>      <td>89.60</td>      <td>694583</td>      <td>4628910.0</td>      <td>1</td>      <td>21.0</td>      <td>Longest continuously serving capital in the U.S.</td>    </tr>    <tr>      <th>Michigan</th>      <td>MI</td>      <td>1837</td>      <td>Lansing</td>      <td>1847</td>      <td>35.00</td>      <td>114297</td>      <td>464036.0</td>      <td>5</td>      <td>226.0</td>      <td>Only state capital that is not also its county...</td>    </tr>    <tr>      <th>Minnesota</th>      <td>MN</td>      <td>1858</td>      <td>Saint Paul</td>      <td>1849</td>      <td>52.80</td>      <td>285068</td>      <td>3348659.0</td>      <td>2</td>      <td>67.0</td>      <td>NaN</td>    </tr>    <tr>      <th>Mississippi</th>      <td>MS</td>      <td>1817</td>      <td>Jackson</td>      <td>1821</td>      <td>104.90</td>      <td>173514</td>      <td>567122.0</td>      <td>1</td>      <td>134.0</td>      <td>NaN</td>    </tr>    <tr>      <th>Missouri</th>      <td>MO</td>      <td>1821</td>      <td>Jefferson City</td>      <td>1826</td>      <td>27.30</td>      <td>43079</td>      <td>149807.0</td>      <td>15</td>      <td>NaN</td>      <td>NaN</td>    </tr>    <tr>      <th>Montana</th>      <td>MT</td>      <td>1889</td>      <td>Helena</td>      <td>1875</td>      <td>14.00</td>      <td>28190</td>      <td>74801.0</td>      <td>6</td>      <td>NaN</td>      <td>NaN</td>    </tr>    <tr>      <th>Nebraska</th>      <td>NE</td>      <td>1867</td>      <td>Lincoln</td>      <td>1867</td>      <td>74.60</td>      <td>258379</td>      <td>302157.0</td>      <td>2</td>      <td>72.0</td>      <td>NaN</td>    </tr>    <tr>      <th>Nevada</th>      <td>NV</td>      <td>1864</td>      <td>Carson City</td>      <td>1861</td>      <td>143.40</td>      <td>55274</td>      <td>NaN</td>      <td>6</td>      <td>NaN</td>      <td>One of two independent cities that serves as a...</td>    </tr>    <tr>      <th>New Hampshire</th>      <td>NH</td>      <td>1788</td>      <td>Concord</td>      <td>1808</td>      <td>64.30</td>      <td>42695</td>      <td>146445.0</td>      <td>3</td>      <td>NaN</td>      <td>NaN</td>    </tr>    <tr>      <th>New Jersey</th>      <td>NJ</td>      <td>1787</td>      <td>Trenton</td>      <td>1784</td>      <td>7.66</td>      <td>84913</td>      <td>366513.0</td>      <td>10</td>      <td>NaN</td>      <td>Served as the U.S. capital for a short period ...</td>    </tr>    <tr>      <th>New Mexico</th>      <td>NM</td>      <td>1912</td>      <td>Santa Fe</td>      <td>1610</td>      <td>37.30</td>      <td>75764</td>      <td>183732.0</td>      <td>4</td>      <td>NaN</td>      <td>Longest serving capital in the United States. ...</td>    </tr>    <tr>      <th>New York</th>      <td>NY</td>      <td>1788</td>      <td>Albany</td>      <td>1797</td>      <td>21.40</td>      <td>97856</td>      <td>857592.0</td>      <td>6</td>      <td>NaN</td>      <td>NaN</td>    </tr>    <tr>      <th>North Carolina</th>      <td>NC</td>      <td>1789</td>      <td>Raleigh</td>      <td>1792</td>      <td>114.60</td>      <td>403892</td>      <td>1130490.0</td>      <td>2</td>      <td>43.0</td>      <td>NaN</td>    </tr>    <tr>      <th>North Dakota</th>      <td>ND</td>      <td>1889</td>      <td>Bismarck</td>      <td>1883</td>      <td>26.90</td>      <td>61272</td>      <td>108779.0</td>      <td>2</td>      <td>NaN</td>      <td>NaN</td>    </tr>    <tr>      <th>Ohio</th>      <td>OH</td>      <td>1803</td>      <td>Columbus</td>      <td>1816</td>      <td>210.30</td>      <td>892553</td>      <td>2078725.0</td>      <td>1</td>      <td>14.0</td>      <td>Columbus is the largest city in Ohio, the seco...</td>    </tr>    <tr>      <th>Oklahoma</th>      <td>OK</td>      <td>1907</td>      <td>Oklahoma City</td>      <td>1910</td>      <td>620.30</td>      <td>649021</td>      <td>1396445.0</td>      <td>1</td>      <td>27.0</td>      <td>Shortest serving current state capital.</td>    </tr>    <tr>      <th>Oregon</th>      <td>OR</td>      <td>1859</td>      <td>Salem</td>      <td>1855</td>      <td>45.70</td>      <td>154637</td>      <td>390738.0</td>      <td>3</td>      <td>149.0</td>      <td>NaN</td>    </tr>    <tr>      <th>Pennsylvania</th>      <td>PA</td>      <td>1787</td>      <td>Harrisburg</td>      <td>1812</td>      <td>8.11</td>      <td>49528</td>      <td>647390.0</td>      <td>9</td>      <td>NaN</td>      <td>NaN</td>    </tr>    <tr>      <th>Rhode Island</th>      <td>RI</td>      <td>1790</td>      <td>Providence</td>      <td>1900</td>      <td>18.50</td>      <td>178042</td>      <td>1600852.0</td>      <td>1</td>      <td>130.0</td>      <td>Also served as the state\'s capital 1636–1686 a...</td>    </tr>    <tr>      <th>South Carolina</th>      <td>SC</td>      <td>1788</td>      <td>Columbia</td>      <td>1786</td>      <td>125.20</td>      <td>129272</td>      <td>767598.0</td>      <td>2</td>      <td>191.0</td>      <td>NaN</td>    </tr>    <tr>      <th>South Dakota</th>      <td>SD</td>      <td>1889</td>      <td>Pierre</td>      <td>1889</td>      <td>13.00</td>      <td>13646</td>      <td>NaN</td>      <td>8</td>      <td>NaN</td>      <td>NaN</td>    </tr>    <tr>      <th>Tennessee</th>      <td>TN</td>      <td>1796</td>      <td>Nashville</td>      <td>1826</td>      <td>525.90</td>      <td>691243</td>      <td>1903045.0</td>      <td>1</td>      <td>24.0</td>      <td>NaN</td>    </tr>    <tr>      <th>Texas</th>      <td>TX</td>      <td>1845</td>      <td>Austin</td>      <td>1839</td>      <td>305.10</td>      <td>964254</td>      <td>2168316.0</td>      <td>4</td>      <td>11.0</td>      <td>Austin is the largest state capital that is no...</td>    </tr>    <tr>      <th>Utah</th>      <td>UT</td>      <td>1896</td>      <td>Salt Lake City</td>      <td>1858</td>      <td>109.10</td>      <td>186440</td>      <td>1087873.0</td>      <td>1</td>      <td>124.0</td>      <td>NaN</td>    </tr>    <tr>      <th>Vermont</th>      <td>VT</td>      <td>1791</td>      <td>Montpelier</td>      <td>1805</td>      <td>10.20</td>      <td>7855</td>      <td>NaN</td>      <td>6</td>      <td>NaN</td>      <td>Least populous U.S. state capital.</td>    </tr>    <tr>      <th>Virginia</th>      <td>VA</td>      <td>1788</td>      <td>Richmond</td>      <td>1780</td>      <td>60.10</td>      <td>204214</td>      <td>1208101.0</td>      <td>4</td>      <td>104.0</td>      <td>Richmond is one of two independent cities that...</td>    </tr>    <tr>      <th>Washington</th>      <td>WA</td>      <td>1889</td>      <td>Olympia</td>      <td>1853</td>      <td>16.70</td>      <td>46478</td>      <td>234670.0</td>      <td>24</td>      <td>NaN</td>      <td>NaN</td>    </tr>    <tr>      <th>West Virginia</th>      <td>WV</td>      <td>1863</td>      <td>Charleston</td>      <td>1885</td>      <td>31.60</td>      <td>51400</td>      <td>304214.0</td>      <td>1</td>      <td>NaN</td>      <td>Charleston is the smallest capital city that i...</td>    </tr>    <tr>      <th>Wisconsin</th>      <td>WI</td>      <td>1848</td>      <td>Madison</td>      <td>1838</td>      <td>68.70</td>      <td>233209</td>      <td>605435.0</td>      <td>2</td>      <td>82.0</td>      <td>NaN</td>    </tr>    <tr>      <th>Wyoming</th>      <td>WY</td>      <td>1890</td>      <td>Cheyenne</td>      <td>1869</td>      <td>21.10</td>      <td>59466</td>      <td>91738.0</td>      <td>1</td>      <td>NaN</td>      <td>NaN</td>    </tr>  </tbody></table>'

You can also save the table directly to a file.

In [12]:
df.to_html('table.html')

In [14]:
# OSX Users can run this to open the file in a browser, 
# or you can manually find the file and open it in the browser
#!open table.html
!ls

Ins_Pandas_Scraping.ipynb table.html

In [15]:
df = pd.read_csv('/Users/victordituro/class/Columbia/COLNYC20190716DATA/02-Homeworks/11-Web/Instructions/Resources/cities.csv')

In [16]:
df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95
5,5,martyush,92,RU,1528905306,94,56.40,61.89,55.03,9.33
6,6,hobart,20,AU,1528902000,87,-42.88,147.33,44.60,8.05
7,7,broken hill,0,AU,1528905311,88,-31.97,141.45,44.50,7.31
8,8,harnosand,0,SE,1528903200,44,62.63,17.94,60.80,13.87
9,9,tuatapere,0,NZ,1528905312,100,-46.13,167.69,38.92,3.40
10,10,puerto ayora,90,EC,1528902000,69,-0.74,-90.35,77.00,13.87
11,11,havre-saint-pierre,75,CA,1528902000,58,50.23,-63.60,53.60,19.46
12,12,punta arenas,0,CL,1528902000,100,-53.16,-70.91,35.60,9.17
13,13,tasiilaq,75,GL,1528901400,60,65.61,-37.64,39.20,2.24
14,14,chapais,40,CA,1528902000,38,49.78,-74.86,59.00,10.29
15,15,avarua,40,CK,1528902000,56,-21.21,-159.78,73.40,10.29
16,16,hofn,75,IS,1528902000,87,64.25,-15.21,51.80,8.05
17,17,yukamenskoye,92,RU,1528905315,98,57.89,52.24,56.65,10.22
18,18,khandbari,80,NP,1528905315,67,27.38,87.21,44.59,1.39
19,19,bethel,1,US,1528901580,93,60.79,-161.76,44.60,8.05
20,20,ushuaia,75,AR,1528902000,64,-54.81,-68.31,41.00,3.36
21,21,east london,0,ZA,1528902000,37,-33.02,27.91,69.80,5.82
22,22,bluff,76,AU,1528905321,76,-23.58,149.07,61.96,4.74
23,23,mount isa,75,AU,1528902000,100,-20.73,139.49,64.40,3.29
24,24,pevek,0,RU,1528905321,71,69.70,170.27,36.94,6.98
25,25,gao,24,ML,1528905321,16,16.28,-0.04,110.02,4.97
26,26,cabo san lucas,75,MX,1528901160,74,22.89,-109.91,84.20,10.29
27,27,sao filipe,0,CV,1528905323,88,14.90,-24.50,75.73,13.02
28,28,tiksi,44,RU,1528905298,58,71.64,128.87,57.73,10.11
29,29,busselton,92,AU,1528905323,100,-33.64,115.35,60.43,10.56
...,...,...,...,...,...,...,...,...,...,...
517,517,kochi,90,IN,1528903800,94,9.96,76.25,77.00,2.24
518,518,notse,56,TG,1528905594,76,6.95,1.17,86.62,8.77
519,519,amuntai,36,ID,1528905596,88,-2.42,115.25,77.17,2.17
520,520,san juan,90,PH,1528902000,100,14.60,121.03,77.00,10.29
521,521,rocha,56,UY,1528905597,93,-34.48,-54.34,49.99,21.18
522,522,elizabeth city,90,US,1528904640,83,36.30,-76.22,78.80,12.75
523,523,narathiwat,75,TH,1528902000,83,6.43,101.80,82.40,4.70
524,524,acari,0,BR,1528905599,48,-6.44,-36.64,84.10,15.26
525,525,puerto carreno,40,CO,1528902000,74,6.19,-67.49,84.20,3.36
526,526,troitskiy,0,RU,1528903800,48,45.15,38.14,82.40,6.71
527,527,dhidhdhoo,88,MV,1528905605,100,6.88,73.10,82.39,12.24
528,528,santa fe,12,AR,1528905642,84,-31.62,-60.70,47.47,10.45
529,529,kuytun,20,RU,1528905610,73,54.34,101.51,64.30,2.62
530,530,evans,1,US,1528904100,41,40.38,-104.69,78.80,3.36
531,531,sokoni,0,CD,1528905646,37,-12.89,28.78,74.56,4.07
532,532,sovetskiy,76,RU,1528905619,85,56.76,48.47,61.33,14.03
533,533,pagudpud,90,PH,1528902000,100,18.56,120.79,77.00,13.87
534,534,southbridge,90,US,1528903440,82,42.08,-72.03,69.80,19.46
535,535,brazzaville,8,CD,1528902000,55,-4.27,15.27,86.00,5.82
536,536,tutoia,40,BR,1528902000,52,-2.76,-42.27,91.40,8.05
537,537,harlingen,75,US,1528902900,62,26.19,-97.70,89.60,10.29
538,538,calamar,92,CO,1528905629,100,1.96,-72.65,70.87,2.95
539,539,road town,40,VG,1528905600,66,18.42,-64.62,87.80,12.75
540,540,tabas,36,IR,1528905630,11,33.60,56.92,94.27,6.98
541,541,shieli,88,KZ,1528905630,41,44.18,66.74,67.27,14.81
542,542,scalea,36,IT,1528905631,100,39.82,15.79,70.06,5.30
543,543,san andres,68,PH,1528905632,100,13.32,122.68,83.47,22.64
544,544,muisne,92,EC,1528905633,84,0.61,-80.02,76.90,4.63
545,545,ati,20,TD,1528905633,25,13.21,18.34,104.53,4.97
546,546,san luis,0,AR,1528905472,53,-33.30,-66.34,42.43,2.62

In [18]:
df.to_html('/Users/victordituro/class/Columbia/Homework11-Web/Resources/cities.html')